<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethan Walker's Website</title>

    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <article>
       <main>
         <h1>Ethan Walker</h1>
         <p>Welcome to my website</p>

         <a href="https://www.linkedin.com/in/ethanwalker576">
           <img src="assets/linkedin.jpg" alt="linkedin">
         </a>
         <a href="https://github.com/EthanWalkerGit">
           <img src="templates/assets/github.png" alt="github">
         </a>
       </main> 
    </article>
  </body>
</html>