<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header class="header">
    </header>
    <article>
       <main>
         <h1>Ethan Walker</h1>
         <p>Welcome to my website</p>

      
       </main> 
    </article>

       <a href="https://www.linkedin.com/in/ethanwalker576">
           <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="linkedin" style="width:42px;height:42px;">
         </a>
         <a href="https://github.com/EthanWalkerGit">
           <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="github" style="width:42px;height:42px;">
         </a>
  </body>
</html>